:root {
    --cor-fundo-header1: rgb(255, 255, 255);
    --cor-fundo-header2: rgb(40, 170, 0);
    --cor-fundo-main1: rgb(255, 255, 255);
    --cor-fundo-main2: var(--cor-fundo-main1);
    --cor-fundo-footer1: rgb(20, 90, 0);
    --cor-fundo-footer2: rgb(255, 255, 255);
    --cor-texto-header1: rgb(0, 0, 0);
    --cor-texto-header2: rgb(99, 99, 99);
    --cor-texto-main1: rgb(0, 0, 0);
    --cor-texto-main2: rgb(99, 99, 99);
    --cor-texto-footer1: rgb(255, 255, 255);
    --cor-texto-footer2: var(--cor-texto-footer1);
    --largura-foto: 200px;
    --largura-max: 1080px;
}

/* Cores Invertidas na Seleção*/

::selection {
    color: var(--cor-fundo-header1);
    background: var(--cor-texto-header1);
}

html, body, figure, img, div, article, section, aside, nav, button, input, textarea, label, span, p, h1, h2, h3, h4, h5, h6, ul, ol, li, a, header, main, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* BODY */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
}

.hidden {
    display: none;
}

/* HEADER */

header {
    background-color: var(--cor-fundo-header2);
    padding: 30px 30px 0 30px;
}

header .container {
    color: var(--cor-texto-header1);
    background-color: var(--cor-fundo-header1);
    position: relative;
}

header .coluna-esquerda {
    flex-basis: 25%;
    text-align: center;
}

header .coluna-direita {
    padding: 0;
    flex-basis: 60%;
    text-align: center;
}

header .coluna img {
    display: flex;
    margin: 0 auto;
    max-width: var(--largura-foto);
}

header .coluna h1 {
    font-size: 1.5rem;
    text-align: center;
}

header .coluna p {
    font-size: 1rem;
    color: var(--cor-texto-header2);
    padding-bottom: 12px;
}

header .coluna ul {
    padding: 2px 16px;
}

header .coluna ul li {
    color: var(--cor-texto-header2);
    font-size: 0.9rem;
}

/* FOOTER */

footer {
    background-color: var(--cor-fundo-footer2);
    padding: 0 30px;
    padding: 0 30px 30px 30px;
}

footer .container {
    padding: 20px 0;
    color: var(--cor-texto-footer1);
    background-color: var(--cor-fundo-footer1);
}

footer .info-contato {
    padding: 0 20px;
}

footer .info-contato li {
    margin: 0 0 15px;
}

footer .redes-sociais {
    border-top: 1px solid rgb(255 255 255 / 20%);
    margin: 20px;
    padding: 30px 0 0;
    text-align: center;
}

footer .redes-sociais li {
    margin: 14px 14px;
    text-align: center;
    display: inline-block;
}

footer .redes-sociais li a img {
    width: 40px;
    transition: .2s;
}

footer .redes-sociais li a:hover img {
    transform: scale(1.2) translateY(-10px);
}

/* MAIN */

main {
    padding: 0 30px;
    background-color: var(--cor-fundo-main2);
}

main .container {
    color: var(--cor-texto-main1);
    background-color: var(--cor-fundo-main1);
}

main .coluna section {
    border-bottom: 1px solid #d4e9ff;
    padding: 16px;
}

main .coluna section h2 {
    font-size: 1.3rem;
    margin-bottom: 16px;
}

main .coluna section p {
    color: var(--cor-texto-main2);
    font-size: 0.9rem;
    line-height: 1.5;
}

main .coluna section ul li {
    color: var(--cor-texto-main2);
    margin-bottom: 12px;
}

main .coluna section ul li:before {
    margin-left: -1rem;
    float: left;
    content: "▸";
    color: red;
}

main .coluna section ul li h3 {
    font-size: 1.1rem;
    margin-top: 14px;
}

main .coluna section ul li strong {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 6px 0 6px;
    display: inline-block;
}

main .coluna-direita section {
    min-height: 275px;
}

/* EXTRAS */

.dark-mode-chk:checked~.dark-mode {
    --cor-fundo-header1: rgb(0, 0, 0);
    --cor-fundo-header2: rgb(70, 70, 70);
    --cor-fundo-main1: rgb(0, 0, 0);
    --cor-fundo-main2: rgb(70, 70, 70);
    --cor-fundo-footer1: rgb(0, 0, 0);
    --cor-fundo-footer2: rgb(70, 70, 70);
    --cor-texto-header1: rgb(255, 255, 255);
    --cor-texto-header2: rgb(190, 190, 190);
    --cor-texto-main1: rgb(255, 255, 255);
    --cor-texto-main2: rgb(190, 190, 190);
    --cor-texto-footer1: rgb(255, 255, 255);
    --cor-texto-footer2: rgb(190, 190, 190);
}

label {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 24px;
    padding: 4px;
    border-radius: 22px;
    background-color: var(--cor-texto-main2);
    cursor: pointer;
}

label span {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--cor-fundo-main1);
    transition: all ease .3s;
}

.dark-mode-chk:checked~.dark-mode label span {
    transition: all ease .3s;
    transform: translateX(25px);
}

@keyframes aumentarLargura {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes aumentarAltura {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

/* @MEDIA */

@media only screen and (min-width: 640px) {
    :root {
        --largura-foto: 150px;
    }
    .container {
        width: 100%;
        max-width: var(--largura-max);
        margin: 0 auto;
    }
    .linha {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .coluna {
        flex-basis: 50%;
    }
    header .container {
        padding: 30px;
    }
    header .linha {
        flex-flow: row;
        align-items: flex-start;
    }
    header .coluna img {
        border-radius: 50%;
        max-width: var(--largura-foto);
    }
    header .coluna ul, header .coluna p, header .coluna h1 {
        text-align: left;
        padding: 0 16px;
    }
    footer .container {
        padding: 30px 60px;
    }
    footer .redes-sociais {
        display: flex;
        justify-content: center;
    }
    main .linha {
        justify-content: space-between;
    }
    main .coluna section {
        border: 1px solid transparent;
        padding: 16px;
        margin: 10px 30px;
        position: relative;
    }
    main .coluna section span {
        display: block;
        position: absolute;
        width: 1px;
        height: 1px;
        border: 1px solid transparent;
    }
    main .coluna section .topo-direita {
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        animation-name: aumentarLargura, aumentarAltura;
        animation-duration: .5s, .5s;
        animation-delay: 0s, .5s;
        animation-fill-mode: forwards;
        border-top-color: var(--cor-texto-main2);
        border-right-color: var(--cor-texto-main2);
    }
    main .coluna section .baixo-esquerda {
        bottom: 0;
        right: 0;
        animation-name: aumentarLargura, aumentarAltura;
        animation-duration: .5s, .5s;
        animation-delay: 1s, 1.5s;
        animation-fill-mode: forwards;
        border-bottom-color: var(--cor-texto-main2);
        border-left-color: var(--cor-texto-main2);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --cor-fundo-header1: rgb(0, 0, 0);
        --cor-fundo-header2: rgb(70, 70, 70);
        --cor-fundo-main1: rgb(0, 0, 0);
        --cor-fundo-main2: rgb(70, 70, 70);
        --cor-fundo-footer1: rgb(0, 0, 0);
        --cor-fundo-footer2: rgb(70, 70, 70);
        --cor-texto-header1: rgb(255, 255, 255);
        --cor-texto-header2: rgb(190, 190, 190);
        --cor-texto-main1: rgb(255, 255, 255);
        --cor-texto-main2: rgb(190, 190, 190);
        --cor-texto-footer1: rgb(255, 255, 255);
        --cor-texto-footer2: rgb(190, 190, 190);
    }
    .dark-mode label span {
        transition: all ease .3s;
        transform: translateX(25px);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --cor-fundo-header1: rgb(255, 255, 255);
        --cor-fundo-header2: rgb(40, 170, 0);
        --cor-fundo-main1: rgb(255, 255, 255);
        --cor-fundo-main2: var(--cor-fundo-main1);
        --cor-fundo-footer1: rgb(20, 90, 0);
        --cor-fundo-footer2: rgb(255, 255, 255);
        --cor-texto-header1: rgb(0, 0, 0);
        --cor-texto-header2: rgb(99, 99, 99);
        --cor-texto-main1: rgb(0, 0, 0);
        --cor-texto-main2: rgb(99, 99, 99);
        --cor-texto-footer1: rgb(255, 255, 255);
        --cor-texto-footer2: var(--cor-texto-footer1);
    }
    .dark-mode label span {
        transition: all ease .3s;
        transform: initial;
    }
    .dark-mode-chk {}
}